:root {
  --chatBGcolor: #F4EEE0;
}

.messagecontainer {
  display:flex;
  height:100%;
}

.messagesidebar {
  background:#6D5D6E;
  width:30%;
  overflow-y: scroll;
}

.messagechat{
  background:#393646;
  width:70%;
  height:100%;
  /* overflow:hidden; */
}

.mfriendslist {
  list-style-type: none;
  vertical-align: center;
  padding: 0;
}

.mfriendslist li {
  padding-left: 1em;
}

.messagefriends, .topmessagefriends {
  display:flex;
  align-items:center;
  /* border-top: 1px solid black;
  border-bottom: 1px solid black; */
  margin-right: 1em;
  padding-left: 0.5em;
}

.messagefriends:hover {
  opacity: 0.7;
  cursor:pointer;
}

.closeMInstance:hover {
  cursor:pointer;
}

.messagefpfp {
  display: inline-block;
  height: 3em;
  width: 3em;
  border-radius: 50px;
  outline: 2px solid black;
}

.fusername {
  display: inline-block;
  padding: 1em;
}

/* FOR MESSAGE CHAT */

.mchattop {
  width: 100%;
  height: 10%;
  background: var(--chatBGcolor);
}
.mchatmid {
  width: 100%;
  height: 83%;
  background: var(--chatBGcolor);
  overflow:scroll;
  overflow-x: hidden;
}
.mchatmid ul {
  padding-left: 0.5em;
  list-style: none;
}

.mchatmid ul li {
  display:flex;
  margin-right: 2em;  
}

.mchatmid ul li div {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.message {
  padding: 0.5em;
}

.message h4 {
  display:inline-block;
  padding: 0.5em;
  border: 1px solid black;
  border-radius: 0.5em; 
  margin:0.2em;
}

.mchatbottom {
  display:flex;
  width: 100%;
  height: 7%;
  background: var(--chatBGcolor);
}

.messagebubble {
  display:flex;
  padding-top: 1em;
  padding-left: 0.5em;
}

.actualmessage {
  display:inline-block;
  margin-left: 2em;
  max-width: 80%;
  background: peachpuff;
  border-radius: .5em;
  padding: 1em;
  word-wrap: break-word;
}
.messageavatar{
  height: 3em;
  width: 3em;
  border-radius: 2em;
  border: 2px solid black;
}

.submitmessagef{
  margin: auto;
}

/* Search bar*/
h1 {
  color: black;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.mSearchForm {
  display: flex;
  width: 80%;
  max-width: 500px;
}

/* input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 5px 0 0 5px;
  outline: none;
} */

.messageUser {
  flex: 0 !important;
  font-size: 1em;
  padding: 0.25em !important;
  margin-left: 0.5em;
  width: 70%;
  border: 1px solid #ccc;
  border-right: 1px solid #ccc !important;
  border-radius: 5px 5px 5px 5px !important;
}

.toMessage {
  font-size: 1.5em;
}

button[type="submit"] {
  padding: 10px;
  background-color: #6D5D6E;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: gray;
}

.messageBtn {
  font-size: 3em;
  margin: auto;
}

.messageBtn:hover {
  background: #393646;
  cursor: pointer;
}

.mCreatePopUp {
  display: flex;
  flex-direction: column;
  padding: 2em;
  height: 50vh;
  width: 30vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white !important;
}

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatBtn {
  background: blue !important;
  margin-top: 2em;
  border: none;
  border-radius: 5px !important;
  width: 50%;
  margin: auto;
}

.chatBtn:hover {
  cursor: pointer;
}

.popuptitle {
  display: flex;
  align-items: center;
}

.popuptitle h1 {
  flex: 9;
}

#createMExitBtn:hover {
  cursor: pointer;
}

.toSearchResults {
  width: 60;
  align-items: center;
  margin: 0;
  padding: 0;
  background: var(--chatBGcolor);
  list-style-type: none;
  position: absolute;
  z-index: 2;
}

.toUserLi {
  padding: 0.3em 1em;
  margin: 0;
  box-sizing: border-box;
  font-size: '0.75em'
}

.toUserLi:hover {
  cursor: pointer;
  background:#D4D5D4;
}

.toUserLi p {
  width: 100%;
  height: 100%;
  margin: 0;
}

.searchfiller {
  width: 80%;
  background: #393646;
}