.friendsul {
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  padding-top: 1.5em;
  position: relative;
  /* height: 100%; */
  display:flex;
  justify-content: center;
}

.friendsul div {
  margin: auto;
}

.friendsul li {
  display:inline-block;
  margin: 0 1em;
  text-align:center;
}

.friendsul li img {
  border-radius: 50px;
  outline: 2px solid white;
  height: 5em;
  width: 5em;
}

.friendsul li p {
  margin: 0;
  padding: 0.5em 0 0 0 ;
}

.left {
  position:absolute;
  top: 50%;
  right: 1.5%;
}
.right {
  position:absolute;
  top: 50%;
  left: 2.5%;
}