.topofprofile {
  grid-column: 2 / 6;
  grid-row: 1 / 3;
  /* background: yellow; */
}

.bottomofprofile {
  grid-column: 2 / 6;
  grid-row: 3 / 9;
  /* background:green; */
}

.hoverable:hover {
  cursor:pointer;
}