.feedimg{
  max-height: 45em;
  height: 30px;
  width: 30px;
  border-radius: 2px;
  background: #F4EEE0;
}
.mainfeedpostli{
  margin: 4em auto;
  /* height: 50em; */
  /* 600 px? */
  /* max-height: 60em; */
  width: 38em;
  box-shadow: 0 1px 0 #F4EEE0;
  /* outline-top: 2px solid #4F4557; */
  /* background: #F4EEE0; */
  color: #F4EEE0;
  border-radius: 5px;
}
.mainfeedul {
  height: 90%;
  width: 90%;
  list-style:none;
  align-items: center;
}

.mainfeedul li h4 {
  margin: 0;
}

.mainfeedul li p {
  margin: 0;
}

.posttop {
  display:flex;
  align-items:center;
}

.postbottom {
  padding: 1em;
}

.postuserpfp{
  display: inline-block;
  height: 3em;
  width: 3em;
  border-radius: 50px;
  /* outline: 2px solid black; */
  margin: .5em;
}

.postusername{
  display: inline-block;
  margin-bottom: 2em;
  padding-left:.75em;
}

.poppedUpPost {
  display: grid;
  grid-template-columns: 5fr 3fr;
  /* flex-direction: row; */
  padding: 2em;
  height: 90vh;
  width: 70vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white !important;
}

.postImage {
  background:green;
  max-height: 90vh;
  /* flex-grow:1; */
}

.postcommentbottom {
  display: flex;
  width: 100%;
  height: 7%;
  background: var(--chatBGcolor);
}

.imageInformation {
  background: #F4EEE0;
  height:100%;
  flex-grow:1;
}

.popupimg {
  /* max-height: 45em; */
  /* height: 30px; */
  width: 100%;
  border-radius: 2px;
  background: #F4EEE0;
}

.commentsdiv {
  position:relative;
  width:100%;
  height: 83%;
  margin:0;
  overflow: hidden;
}

.commentsul {
  position:relative;
  overflow-y: scroll;
  height:70vh;
  padding-left:0.5em;
  list-style-type:none;
  color:black;
}

.commentsh4 {
  display:inline-block;
}

.commentsp {
  display:inline-block;
}

.commentsul li {
  margin-bottom: 0.75em;
}

.exitPostBtn {
  position:absolute;
  right:100px;
  top: 20px;
  z-index: 3;
  opacity:1;
  padding: 1em;
  background:white;
}

.exitPostBtn:hover {
  cursor: pointer;
}

.faheart:hover, .facomment:hover, .feedimg:hover, .hoverable:hover {
  cursor:pointer;
}
