.addpostform {
  display:flex;
  flex-direction:row;
  display:block;
  background:#F4EEE0;
  padding: 3em;
  border-radius: 5px;
  width: 35%;
  height: 100%;
  max-width: none;
  margin:auto;
}


.addpost {
  /* background: red; */
  grid-column: 2 / 6;
  grid-row: 2 / 8;
}

.postfile-input-container {
  position:relative;
  width: 100%;
  height: 70%;
  border: 2px dashed #ccc;
  background-color:aliceblue;
  display:flex;
  justify-content:center;
  align-items:center;
}

.postfile-input {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  cursor:pointer;
}

#postcaptions {
  margin:auto;
  width:100%;
  height:20%;
}
.CreatePostTag {
  width: 100%;
  text-align:center;
  margin:0 auto;
  color: #393646;
}