.Sidebar {
  text-align:center;
  height:100vh;
}

.websiteTitle {
  background: #F4EEE0;
  border-radius: 6px;
  height: 10%;
  width:70%;
  /* width: clamp(20px, 70%, 800px); */
  padding: 1em;
  margin:1em auto;
}

.websiteTitle h1 {
  font-size: clamp(1.5em, 2vw, 3em);
}

.sidebarOptions{
  position:relative;
  width: 70%;
  height: 90%;
  /* font-size: 2em; */
  text-align:left;
  list-style: none;
  padding:0;
  margin: 1em auto;
}

.sidebarOptions div {
  margin: .3em 0;
  padding: .25em;
  border-radius: 3px;
}

.sidebarOptions div:hover {
  background: #F4EEE0;
  cursor:pointer;
}

.lih2 {
  display:inline;
  padding-left: 0.5em;
}

.link {
  text-decoration:none;
  color:inherit;
}

.sideIcon {
  display:flex;
  align-items: center;
}

.logoutbtn {
  position: absolute;
  bottom: 100px;
  margin:auto;
}

/* Icon styles*/
.iconStyles {
  font-size: '3em'!important;
}

