.pfp {
  /* background: white; */
  border-radius: 50px;
  width:15em;
  order: 0;
  margin: 1em;
}

.pfp form{
  width:100%;
  height: 100%;
}

.avatar {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  flex: 1;
}

.name {
  display:flex;
  text-align:center;
  align-items:center;
}

.name h1 {
  display:inline-block;
  flex-grow: 4;
  margin: 0;
}

.name h3 {
  /* background: white; */
  flex-grow:1;
  margin: 0;
}

.followerstats {
  display:flex;
}

.filler {
  flex-grow: 1;
  visibility:hidden;
}

.followerstats2 {
  flex-grow: 4;
}

.stats{
  display:flex;
  justify-content: space-around;
}

.stats h4 {
  margin: .5em;
}

.filler h3 {
  margin: 0;
}

.pfp {
  min-width: 8em;
}

.pfdescription {
  /* background: blue; */
  /* border: 5px solid blue; */
  order: 1;
  flex-grow: 3;
  margin: 1em;
  max-width: 75%;
}

.pfdescriptionflex {
  display:flex;
  flex-direction: column;
}

.profiletop {
  display:flex;
  height:100%;
  width: 80%;
  margin:auto;
  color: #F4EEE0;
}

.bio {
  /* background: white; */
  display:flex;
  margin: 0;
  word-wrap: break-word;
}

.bio p {
  margin: 0.5em;
  flex: 0 0 100%;
  width: 100%;
  height:6em;
  word-wrap: break-word;
}

.addfriend:hover {
  cursor:pointer;
}

