.Sidebar {
  text-align:center;
}

.websiteTitle {
  background: #F4EEE0;
  border: 5px solid black;
  border-radius: 6px;
  width: 70%;
  margin:1em auto;
}

.sidebarOptions{
  width: 70%;
  font-size: 1.5em;
  text-align:left;
  list-style: none;
  padding:0;
  margin: 1em auto;
}

.sidebarOptions div {
  margin: .3em 0;
  padding: .25em;
  border-radius: 3px;
}

.sidebarOptions div:hover {
  background: #F4EEE0;
  cursor:pointer;
}

.lih2 {
  display:inline;
}

